* {
    box-sizing: border-box
}

body {
    font-family: "Lato", sans-serif;
}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: moz-fit-content;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #b8f3d8;
}

.image {
    width: 50px;
    height: 50px;
}
input {
    height: 45px;
}

/* Create an active/current "tab button" class */
.tab button.active {
    /*background-color: #6ef0b6;*/
    background-color: #1bc87a;
    color: #fff;
}

i {
    padding-left: 2px;
    padding-right: 2px;
    color: #1bc87a;
}

.title {
    color: #0daa63;
}

.subtitle {
    color: #1B6CD3;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 15px 15px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 560px;
}

/* Credit card */
.rounded {
    border-radius: 1rem
}

.nav-link {
    color: #555
}

 .nav-link.active {
    color: white
}

input[type="radio"] {
    margin-right: 5px
}

.bold {
    font-weight: bold
}
